.zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    width: 574px;
}
 
.zoom:hover {
    -webkit-transform: scale(1.02); 
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    position: relative;
    top:-2.5px;
}
img{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.zoom:hover img {
    -webkit-transform: scale(1.06); 
    -moz-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
    
}

