.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*align-items: center;
  justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header-background{
  background-image: url('../src/assets/home_page/banner.jpg')
}

.full-width{
  width: 100%;
}

.Header-content{
  padding-left: 13vh;
  padding-top: 15vh;
  height: 90vh;
}

.Menu-item{
  border-bottom: 3px solid transparent;
  
}
.About-bitlab{
  width: 100vh;
}
.Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Menu-item:hover{
  border-bottom: 3px solid #5dffe9;
  border-style: solid;
}

.Offers{
  width: 80%;
  text-align: start;
}

.navigation.scrolled{
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.montserrat{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.text-purple{
  color: #481ae7 !important;
}

.Intereses{
  width: 100%;
  text-align: start;
}/*
.interest-card{
  display: flex;
  flex-direction: row;
  align-items: center;
}*/
/*
.arrow-next{
  background-color: #00D2E5;
  justify-content: center;
  align-items: center;
}*/
.deseas-aprender{
  height: 105vh;
}
#img-lentes{
  position: absolute;
  left:0;
  height: 489px;
}

.bg-color{

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
